
@import "./alert";
@import "./header";
@import "./footer";
body {
    font-family: "Poppins", sans-serif;
    width: 100vw;
    // position: relative;

  }

.cart{
    .product-main{
        .head-action{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .total{
              display: flex;
              justify-content: center;
              align-items: center;
              h2{
                margin-right:20px;
                margin-bottom: 0;
              }
              .total-text{
                font-size: 30px;
                font-weight: 500;
              }
            }
            .action-cart{
              position: relative;
              .btn{
                  background-color: #868383;
                  font-weight: 600;
                  color: #fff;
                  transition: 0.3s;
                  &:hover{
                      background-color: #222;
                      transform: scale(1.1);
                  }
              }
              .model-detele-all{
                display: block;
                position: absolute;
                bottom: -61px;
                border-radius: 5px;
                background-color: #cac6c6;
                display: flex;
                width: 110%;
                justify-content: space-between;
                // align-items: center;
                padding: 10px;
                opacity: 0;
                visibility: hidden;
                &.active {
                  opacity: 1;
                  visibility: visible;
                }
                p{
                  color: #222;
                  font-weight: 600;
                  margin: 0;
                  padding: 8px 0;
                }
                .btn-sure{
                  margin: 0 2px;
                  height: 40px;
                  color: #020202;
                  // width: 40px;
                }
                #yes{
                  background-color: #90e5ac;
                }
                #no{
                  background-color: #f45858;
                }
              }
            }
        }

        table {
            margin: 10px 0;
            width: 100%;
            thead {
              tr {
                th {
                    // padding: 0 30px;
                    font-size: 20px;
                    font-weight: 600;
                    white-space: nowrap;
                }
              }
            }
            tbody {
              tr {
                border-bottom: 2px solid #e5e5e5;
                th {
                  font-weight: 500;
                  white-space: nowrap;
                  padding: 60px 0 0 10px;
                  &:first-child{
                  padding:0;
                  }
                  .img {
                    width: 100px;
                    img {
                      width: 150px;
                    //   transform: scale(1.2);
                    }
                  }
                  .quantity-product {
                    transform: translateY(-10px);
                    width: 120px;
                    height: 50px;
                    background-color: #f5f5f5;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 5px;
                    button {
                      height: 100%;
                      flex: 1;
                      font-size: 18px;
                      transition: 0.2s;
                      font-weight: 500;
                      &:hover {
                        color: #ff4757;
                      }
                    }
                    input {
                      font-size: 18px;
                      width: 50px;
                      height: 100%;
                      text-align: center;
                    }
                  }
                  .delete {
                    width: 35px;
                    height: 35px;
                    // background-color: #222;
                    font-size: 20px;
                    transition: 0.2s;
                    &:hover {
                    color: #ea2b2b;
                    }
                    i {
                      line-height: 30px;
                    }
                  }
                }
              }
            }
          }
    }
    .wrapper-payment{
      position: fixed;
      bottom: 20px;
      left: 0;
      right: 0;
      // background-color: #666;
      hr{
        width: 1200px;
      }
      .payment{
        display: block;
        padding: auto;
        // .total{
        //   padding: 0 0 0 45%;
        //   font-size: 20px;
        //   font-weight: 600;
        // }
        button{
          display: block;
          // padding-left: 40%;
          margin-left: 80%;
          height: 45px;
          background-color: #514bf5;
          color: #fff;
          font-family: 800;
          transition: 0.3s;
          &:hover{
            transform: scale(1.1);
          }
        }
      }
    }
}