body {
    font-family: "Poppins", sans-serif;
    width: 100vw;
    // position: relative;

  }
  @import "./alert";
  @import "./footer";
  .image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .scroll-top {
    position: fixed;
    z-index: 100;
    right: 15px;
    bottom: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    button {
      width: 35px;
      height: 35px;
      background-color: #57606f;
      border-radius: 50%;
      // box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
      transition: all 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        display: inline-block;
        color: #fff;
        font-size: 25px;
        line-height: 50px;
        transition: 0.3s;
      }
      &:hover{
        // box-shadow: rgba(22, 23, 25, 0.7) 0px 8px 30px;
        i{
          color: #de6325;
        }
      }
    }
  }
  .active-scroll-top {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
  }
  
header{
    .container{
        .nav-top{
            height: 50px;
            padding: 5px 0;
            position: relative;
            display: flex;
            .logo-search{
                display: flex;
                justify-content: start;
                align-items: center;
                .logo-icon{
                    display: flex;
                    align-items: center;
                    img{
                        width: 40px;
                        // height: 30px;
                        display: inline-block;
                    }
                    p{
                        font-weight: 600;
                        text-align: center;
                        font-size: 24px;
                        margin: 0 30px 0 5px;
                        color: #222;
                    }
                }
            form{
                max-width: 700px;
                background: #eee;
                border: none;
                border-radius: 50px;
                padding: 12px 15px;
                margin: 8px 0;
                transition: 0.3s;
                flex:1;
                display: flex;
                input{
                  width: 90%;
                    // height: 40px;
                    display: block;
                    &:focus {
                        &::placeholder {
                          opacity: 0;
                        }
                      }
                    &::placeholder {
                        font-size: 14px;
                        padding-left: 5px;
                        transition: 0.3s;
                      }
                    &:hover{
                        scale: 1.02;
                    }
                }
                .submit {
                    width: 25px;
                    height: 25px;
                    display:block;
                    flex: 1;
                  }  
            }
            }  
            .nav-action{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .cart{
                    position: relative;
                    height: 30px;
                    width: 30px;
                    font-size: 25px;
                    color: #706c6c;
                    cursor: pointer;
                    transition: 0.5s;
                    &:hover{
                        color: #222;
                    }
                    .quantities-cart{
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        color: #f52c2c;
                        border-radius:50% ;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // background-color: #706c6c;
                        // border: #222 1px solid;
                        font-size: 13px;
                        font-weight: 700;
                        top: -10px;
                        right: -7px;
                    }
                }
                .wall {
                    width: 2px;
                    height: 30px;
                    background-color: #666;
                    margin: 0 15px;
                  }
                .user{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    cursor: pointer;
                    &:hover{
                      .dropdown-user{
                        opacity: 1;
                        visibility: visible;
                      }
                    }
                    .dropdown-user{
                      position: absolute;
                      top: calc(100%) ;
                      z-index: 10;
                      box-shadow: 0px 2px 8px 0px #888888;
                      background-color: #fcfdfd;
                      border-radius: 2px;
                      padding: 10px;
                      margin: 0;
                      // overflow: hidden;
                      opacity: 0;
                      visibility: hidden;
                      transition: all 0.3s ease;                     
                      li{
                        text-align: center;
                        width: 100%;
                        color: #333;
                        padding: 5px 10px;
                        font-size: 16px;
                        font-weight: 500;
                        cursor: pointer;
                        transition: 0.3s;
                        &:hover{
                          background-color: #333;
                          color: #fff;
                          a{
                            color: #fff;
                          }
                        }
                      }
                      .profile{
                        &:hover{
                          .dropdown-toggle{
                            color: #eee;
                          }
                        }
                        li{
                          position: relative;
                        }
                        .Change{
                          &:hover{
                            .dropdown-pass{
                              visibility: visible;
                              opacity: 1;
                            }
                          }
                          .dropdown-pass{
                            display: block;
                            visibility: hidden;
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            left: -100%;
                            background-color: #eee;
                            input{
                              display: block;
                              padding: 5px;
                            }
                            &:hover{
                              background-color: none !important;
                              li{
                                background-color: none;
                              }
                            }
                          }

                        }
                      }
                    }
                    i {
                      font-size: 24px;
                      margin-right: 10px;
                    }
                    a {
                      font-size: 18px;
                      font-weight: 600;
                      color: #666;
                      transition: 0.3s;
                      &:hover {
                        color: #222;
                      }
                    }
                    span {
                      font-weight: 500;
                      margin: 0 3px;
                    }
                }
            }
        }
    }
    .nav-bottom{
      margin-top: 28px;
      background-color:#495057;
      .wrapper-nav{
        position: relative;
        display: flex;
        justify-content: flex-start;
        height: 45px;
        margin: 0;
        li{
          padding: 10px 0px;
          width: 80px;
          display: block;
          // height: 100%;
          cursor: pointer;
          text-align: center;
          // margin:0 5px;
          color: #fff;
          font-weight: 600;
          transition: 0.3s;
          &:hover{
            background-color: #de6325;
            i{
              color: #222;
              font-family: 600;
            }
            .nav-dropdown{
              opacity: 1;
              visibility: visible;
            }
          }
          a{
            color: #fff;
          }
          i{
            margin-left: 4px;
          }
          .nav-dropdown{
            display: block;
            background-color: #222;
            position: absolute;
            top: calc(100%);
            width: 150px;
            // height: 200px;
            float: left;
            padding: 0;
            z-index: 100;
            opacity: 0;
            visibility: hidden;
            border-radius: 5px;
            // transition: 0.3s;
            li{
                margin: 0;
                padding: 5px 0;
                width: 100%;
                background-color: #495057;
                &:hover{
                  background-color: #de6325;
                }
              }
            // text-align: left;
            
          }
        }
      }
    }
    .nav-down{
      background-color: none;
      margin: 0;
      position: fixed;
      width: 100vw;
      padding: 0 10%;
      z-index: 100;
      top: 0;
      left: 0;
      // transition: 0.5s;
      .wrapper-nav{
        // border-end-end-radius: 10px;
        // border-bottom-left-radius: 10px;
        background-color: #495057;
        max-width: 1202px;
        width: 100%;
        top: 0;
      }
    }
}
.banner{
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
}
section{
  .wrapper-products{
    .product{
      padding: 0 15px;
      box-shadow: 0px 5px 34px -16px rgba(0,0,0,0.1);
      border-radius: 15px;
      // border: #918d8d 1px solid;
      .item{
        width: 100%;
        // height: 300px;
        position: relative;
        overflow: hidden;
        img{
          width: 100%;
          height: 300px;
          object-fit: cover;
          transition: 0.3s;
        }
        .add-cart{
          width: 60%;
          height: 35px;
          font-weight: 600;
          background-color: #fb6c64;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translatex(-50%);
          z-index: 10;
          color: #eee;
          border-radius:10px ;
          transition: 0.5s;
          opacity: 0;
          visibility: hidden;
        }
        &:hover{
          .add-cart{
            background-color: #f52c2c;
            opacity: 1;
            visibility: visible;
            bottom: 10px;
          }
          img{
            transform: scale(1.1);
          }
        }
      }
      .content{
        // background-color: #222;
        .price{
          font-size: 18px;
          height: 25px;
          width: 110px;
          background-color: #ed5454;
          text-align: center;
          border-radius:15px ;
          color: white;
        }
        .product-name{
          // padding: 0 5px;
          text-align: center;
          font-size: 20px;
        }
      }
    }
  }
}


//pagiantion
.page-navigation {
  width: 400px;
  margin: 20px auto;
  ul {
    li {
      opacity: 0.7;
      width: 100%;
      padding: 0;
      cursor: pointer;
      height: 40px;
      border-top: 1px solid #666;
      border-bottom: 1px solid #666;
      border-right: 1px solid #666;
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        padding: 1px;
        display: inline-block;
        color: #fff;
        font-size: 18px;
      }
      a {
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 40px;
        display: block;
        color: #2d2b2b;
        font-size: 18px;
        font-weight: 500;
        transition: 0.3s;
        &:hover {
          background-color: #666;
          color: #fff;
        }
      }
      &:nth-child(2) {
        border-left: 1px solid #666;
        border-top-left-radius:15px ;
        border-bottom-left-radius:15px ;
        overflow: hidden;
      }
      &:nth-last-child(2){
        border-left: 1px solid #666;
        border-top-right-radius:15px ;
        border-bottom-right-radius:15px ;
        overflow: hidden;
      }

      &.active {
        opacity: 1;
        a {
          background-color: #666;
          color: #fff;
        }
      }
    }
    .prev {
      margin-right: 3px;
      border: none;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      // background-color: #766551;
      transition: 0.3s;
      color: #eee;
      i{
        color: #333;
        font-size: 25px;
      }
      &:hover {
        // background-color: #9f9c95;
        color: #333;
        opacity: 1;
      }
    }
    .next {
      margin-right: 3px;
      // margin-left: 30%;
      border: none;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      // background-color: #766551;
      transition: 0.3s;
      color: #eee;
      i{
        color: #333;
        font-size: 25px;
      }
      &:hover {
        // background-color: #9f9c95;
        color: #333;
        opacity: 1;
      }
    }
  }
}

.select-soft{
  .form-select{
    width: 15%;
    margin: 20px 0 20px 85%;
    font-size: 17px;
  }
}