body {
  font-family: "Poppins", sans-serif;
}

.alert {
  position: fixed;
  z-index: 1300;
  max-width: 500px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.alert i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 25px;
  height: 25px;
  color: #fff;
  line-height: 25px;
  border-radius: 50%;
}
.alert.alert-primary i {
  background-color: #0a58ca;
}
.alert.alert-danger i {
  background-color: #b02a37;
}
.alert.get-active {
  opacity: 1;
  visibility: visible;
}

.footer {
  background-color: #f5f5f5;
  padding: 30px 0;
  color: #777;
}
.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.footer .footer-content .footer-column {
  flex-basis: 30%;
}
.footer .footer-content .footer-column h3 {
  margin-top: 0;
}
.footer .footer-content .footer-column p {
  margin-bottom: 10px;
}
.footer .footer-content .footer-column .social-icons a {
  display: inline-block;
  margin-right: 10px;
}
.footer .footer-content .footer-column .social-icons a i {
  font-size: 18px;
}
.footer .footer-bottom {
  text-align: center;
}
.footer .footer-bottom p {
  margin: 0;
}

.f-checkout {
  display: flex;
}
.f-checkout .user-checkout {
  max-height: 450px;
}
.f-checkout .user-checkout .address-group {
  display: flex;
}
.f-checkout .user-checkout .address-group .input-group {
  display: inline-block;
}
.f-checkout .user-checkout .address-group .input-group:first-child {
  margin-right: 10px;
}
.f-checkout .user-checkout .input-group {
  display: block;
  margin: 10px 0;
}
.f-checkout .user-checkout .input-group label {
  display: block;
  font-size: 20px;
}
.f-checkout .user-checkout .input-group input {
  display: block;
  padding: 7px;
  border: 1px solid #bdb5b5;
  width: 100%;
  font-size: 20px;
}
.f-checkout .user-checkout .sub-total .total {
  display: flex;
  align-items: center;
}
.f-checkout .user-checkout .sub-total .total h3 {
  margin: 0;
}
.f-checkout .user-checkout .sub-total .total .subtotal-detail {
  font-size: 25px;
  font-weight: 600;
  color: #f13b3b;
  margin-left: 5px;
}
.f-checkout .user-checkout .sub-total .btn-submit {
  display: block;
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: #363535;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  transition: 0.2s;
  border-radius: 5px;
}
.f-checkout .user-checkout .sub-total .btn-submit:hover {
  background-color: #1f1e1e;
}
.f-checkout .user-checkout .sub-total .btn-MOMO-submit {
  display: block;
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: #5760e4;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  transition: 0.2s;
  border-radius: 5px;
}
.f-checkout .user-checkout .sub-total .btn-MOMO-submit:hover {
  background-color: #283cec;
}
.f-checkout .product-checkout .title-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 0 20px;
}
.f-checkout .product-checkout .title-product p {
  margin-bottom: 0;
}
.f-checkout .product-checkout .products {
  max-height: 450px;
  overflow: auto;
  padding: 5px;
}
.f-checkout .product-checkout .products .product {
  height: 160px;
  display: flex;
}
.f-checkout .product-checkout .products .product img {
  width: 200px;
  height: 100%;
}
.f-checkout .product-checkout .products .product .p-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px 30px 10px;
  flex: 1;
}
.f-checkout .product-checkout .products .product .p-total {
  width: auto;
  font-size: 18px;
  font-weight: 600;
}

header .container .nav-top {
  height: 50px;
  padding: 5px 0;
  position: relative;
  display: flex;
}
header .container .nav-top .logo-search {
  display: flex;
  justify-content: start;
  align-items: center;
}
header .container .nav-top .logo-search .logo-icon {
  display: flex;
  align-items: center;
}
header .container .nav-top .logo-search .logo-icon img {
  width: 40px;
  display: inline-block;
}
header .container .nav-top .logo-search .logo-icon p {
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  margin: 0 30px 0 5px;
  color: #222;
}
header .container .nav-top .logo-search form {
  max-width: 700px;
  background: #eee;
  border: none;
  border-radius: 50px;
  padding: 12px 15px;
  margin: 8px 0;
  transition: 0.3s;
  flex: 1;
  display: flex;
}
header .container .nav-top .logo-search form input {
  width: 90%;
  display: block;
}
header .container .nav-top .logo-search form input:focus::-moz-placeholder {
  opacity: 0;
}
header .container .nav-top .logo-search form input:focus::placeholder {
  opacity: 0;
}
header .container .nav-top .logo-search form input::-moz-placeholder {
  font-size: 14px;
  padding-left: 5px;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
header .container .nav-top .logo-search form input::placeholder {
  font-size: 14px;
  padding-left: 5px;
  transition: 0.3s;
}
header .container .nav-top .logo-search form input:hover {
  scale: 1.02;
}
header .container .nav-top .logo-search form .submit {
  width: 25px;
  height: 25px;
  display: block;
  flex: 1;
}
header .container .nav-top .nav-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container .nav-top .nav-action .cart {
  position: relative;
  height: 30px;
  width: 30px;
  font-size: 25px;
  color: #706c6c;
  cursor: pointer;
  transition: 0.5s;
}
header .container .nav-top .nav-action .cart:hover {
  color: #222;
}
header .container .nav-top .nav-action .cart .quantities-cart {
  position: absolute;
  width: 18px;
  height: 18px;
  color: #f52c2c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  top: -10px;
  right: -7px;
}
header .container .nav-top .nav-action .wall {
  width: 2px;
  height: 30px;
  background-color: #666;
  margin: 0 15px;
}
header .container .nav-top .nav-action .user {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
header .container .nav-top .nav-action .user:hover .dropdown-user {
  opacity: 1;
  visibility: visible;
}
header .container .nav-top .nav-action .user .dropdown-user {
  position: absolute;
  top: 100%;
  z-index: 10;
  box-shadow: 0px 2px 8px 0px #888888;
  background-color: #fcfdfd;
  border-radius: 2px;
  padding: 10px;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
header .container .nav-top .nav-action .user .dropdown-user li {
  text-align: center;
  width: 100%;
  color: #333;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
header .container .nav-top .nav-action .user .dropdown-user li:hover {
  background-color: #333;
  color: #fff;
}
header .container .nav-top .nav-action .user .dropdown-user li:hover a {
  color: #fff;
}
header .container .nav-top .nav-action .user .dropdown-user .profile:hover .dropdown-toggle {
  color: #eee;
}
header .container .nav-top .nav-action .user .dropdown-user .profile li {
  position: relative;
}
header .container .nav-top .nav-action .user .dropdown-user .profile .Change:hover .dropdown-pass {
  visibility: visible;
  opacity: 1;
}
header .container .nav-top .nav-action .user .dropdown-user .profile .Change .dropdown-pass {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: -120%;
  background-color: #eee;
}
header .container .nav-top .nav-action .user .dropdown-user .profile .Change .dropdown-pass input {
  display: block;
  padding: 5px;
}
header .container .nav-top .nav-action .user .dropdown-user .profile .Change .dropdown-pass:hover {
  background-color: none !important;
}
header .container .nav-top .nav-action .user .dropdown-user .profile .Change .dropdown-pass:hover li {
  background-color: none;
}
header .container .nav-top .nav-action .user i {
  font-size: 24px;
  margin-right: 10px;
}
header .container .nav-top .nav-action .user a {
  font-size: 18px;
  font-weight: 600;
  color: #666;
  transition: 0.3s;
}
header .container .nav-top .nav-action .user a:hover {
  color: #222;
}
header .container .nav-top .nav-action .user span {
  font-weight: 500;
  margin: 0 3px;
}/*# sourceMappingURL=payment.css.map */