@import "./alert";
@import "./header";
  @import "./footer";
.puchase{
  .purchased{
    padding: 10px;
    .block{
      font-size: 18px;
      border: #706c6c 1px solid;
      border-radius: 10px;
      padding: 10px;
      margin: 10px 0;
      .address{
        p{
          margin: 0 10px 0 0 ;
        }
        .address-content{
          display: flex;
          .u-name{
            max-width: 200px;
            margin-right: 10px;
          }
        }
        .total{
          display: flex;
          .t-price{
            max-width: 200px;
            margin-right: 10px;
          }
        }
      }
      .products{
        max-height: 330px;
        overflow: auto;
        .product{
          display: flex;
          justify-content: space-around;
          align-items: center;
          .name-product{
            width: 450px;
          }
          img{
            width: 110px;
            height: 110px;
            object-fit: cover;
          }
          .p-total{
            margin: 0;
          }
        }
      }
    }
  }
}
.stars-rating{
  .filled{
    color: #f0932b;
  }
}