<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Email Xác Minh</title>
</head>
<body>
  <h1>Email của bạn đã được xác minh thành công!</h1>
  <p>Cảm ơn user: <strong><%= username %></strong> đã xác minh địa chỉ email của mình.</p>
</body>
</html>
